.EventSelectModal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  height: 100%;
  background-color: #242424;

  &__Container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    padding: 64px;
  }

  &__Events {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  &__Event {
    width: calc(100% / 3);
    &_selected {
      border: 1px solid #0f7ac2;
    }
  }
}

.EventSelect {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__SelectedContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__SelectedItem {
    display: flex;
    gap: 16px;
    align-items: center;

    border: 1px solid #0f7ac2;
    border-radius: 8px;
    padding: 8px;
  }
}
