.InputField {
  display: flex;
  flex-direction: column;
  gap: 16px;
  outline-offset: 4px;

  &:focus-within {
    outline: 1px solid #0f7ac2;
  }

  &_error {
    outline: 1px solid red;
  }

  &__Title {
    display: flex;
    gap: 16px;
  }

  &__Error {
    color: red;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    min-height: 200px;
  }
}
